<!DOCTYPE html>
<html>
<head>
    <title>{{ filename }}</title>
</head>
<body>
    <h5 id="selected-filename" data-filename="{{ filename }}">{{ filename }}</h5>
    {% for name, details in variable_details.items %}
        <h6>{{ name }}</h6>
        <p>Dimensions: {{ details.dimensions|join:", " }}</p>
        <h7>Attributes</h7>
        <ul>
            {% for attr_name, attr_value in details.attributes.items %}
                <li>{{ attr_name }}: {{ attr_value }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

</body>
</html>

