/* Import Bootstrap CSS */
@import url('/static/css/bootstrap.min.css');

/* Custom styles for dashboard */

body {
    padding-top: 56px; /* Adjust based on your navbar height */
    color: #353538; /* Set background color */
}

.sidebar {
    position: fixed;
    top: 56px; /* Adjust based on your navbar height */
    bottom: 0;
    left: 0;
    z-index: 100; /* Ensure sidebar appears above main content */
    padding: 20px;
    overflow-y: auto;
    border-right: 1px solid #353538;
    background-color: #353538; /* Set background color */
}

.sidebar a {
    color: white; /* Set link color to white */
}

.sidebar h6 {
    color: white; /* Set heading color to white */
}

main {
    margin-left: 220px; /* Adjust based on your sidebar width */
    padding: 20px;
    color: #353538; /* Set background color */
}

/* Hover effect for links */
.sidebar a:hover {
    text-decoration: none; /* Remove underline on hover */
    color: lightgray; /* Change link color on hover */
}

#time-slider-container {
    position: relative; 
    top: -30px; 
    left: 0; 
    width: 100%; 
    height: 5%; 
    display: flex;
    flex-direction: column;
}

#level-slider-container {
    position: relative;
    top: 660px; /* Adjust this to position the slider below the "Select a Variable" dropdown */
    left: -35px; /* Align with the left edge of the D3 container */
    width: 700px; 
    height: 10px;
    transform: rotate(-90deg);
    transform-origin: top left; /* Rotate the slider to be vertical */
}

#level-slider {
    width: 90%; /* Since the container is rotated, this will be the height of the slider */
}

#level-value-container {
    position: absolute;
    top: calc(900px); /* Adjust so it sits below the slider */
    left: 30px; /* Adjust to align it horizontally with the slider */
    white-space: nowrap; /* Ensure the label and value are on the same line */
}

#d3-container {
    width: 1000px; 
    height: 820px; 
    border: 1px solid #3535383d;
    margin: 0px;
    padding: 50px;
}

/* CSS for Min and Max Value Container */
#min-max-values-container {
    display: flex;
}

/* CSS for input fields */
.value-input {
    width: 100px; /* Adjust the width as needed */
    margin-right: 10px; /* Add space between inputs */
}

/* CSS for tooltip */
.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    padding: 6px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.05s; /* Smooth transition for showing and hiding */
    z-index: 1000; /* Ensure tooltip is above other elements */
}

/* CSS for red dot */
.tooltip::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: rgb(175, 17, 17);
    border-radius: 50%;
    bottom: -10px; /* Adjust position from the bottom */
    left: -10px; /* Adjust position from the left */
    z-index: -1; /* Ensure dot is behind the tooltip */
}
